body {
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
  color: #404040;
  background-color: #f4f4f4;
}
.title {
  padding-left: 193px;
  background-color: #f4f4f4;
}
hr {
  height: 2px;
  width: 35px;
  border: none;
  text-align: center;
  background: #57b22f !important;
  display: inline-block;
  margin: 5px auto;
}
h4 {
  letter-spacing: 3px;
  font-family: 'Raleway', sans-serif;
  margin: 15px 0;
  text-transform: uppercase;
  font-weight: 700;
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.24s ease-in-out;
  -moz-transition: opacity 0.24s ease-in-out;
  transition: opacity 0.24s ease-in-out;
  font-size: 18px;
  clear: both;
  color: #404040;
}
.t1 {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 16px;
  margin-top: 1px;
  color: #404040;
  letter-spacing: 0.7px;
}
.t2 {
  color: #8d8d8d;
  letter-spacing: 3px;
  margin-top: -1px;
  font-size: 12px;
  letter-spacing: 5px !important;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
}
p {
  font-size: 15px;
  line-height: 25px;
  margin: 10px 0;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: #404040;
}
