body {
	    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    color: #404040

}

hr {
	height: 2px;
    width: 35px;
    border: none;
    text-align: center;
    background: #57b22f !important;
    display: inline-block;
    margin: 5px auto;
}

h4 {
	letter-spacing: 3px;
	font-family: 'Raleway', sans-serif;
    margin: 15px 0;
    text-transform: uppercase;
    font-weight: 700;

    margin-left: 15px;
}

.t1{
	font-weight: bold;
}

.t2 {
	color: #8d8d8d;
	letter-spacing: 3px;
}

