.main-blog {
  margin-top: 8px;
}
.main-blog .blog-post {
  margin: 0;
  margin-bottom: 40px;
}
.row {
  margin: 0px -15px;
  position: relative;
}
.fs_blog {
  width: 100%;
  float: left;
}
.accent,
.accent a {
  color: #ffc925;
  letter-spacing: 2px;
}
.fs_blog h6.accent {
  margin-bottom: 20px;
  color: #57b22f !important;
}
h6 {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.24s ease-in-out;
  font-size: 12px;
  font-family: 'Raleway', sans-serif;
  margin: 15px 0;
  text-transform: uppercase;
  font-weight: 700;
  clear: both;
  line-height: 1.1;
  display: block;
  font-size: 0.67em;
  margin-block-start: 2.33em;
  margin-block-end: 2.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
a {
  background-color: transparent;
}
a {
  color: #337ab7;
  text-decoration: none;
  transition: all 0.3s ease;
}
a:-webkit-any-link {
  cursor: pointer;
}
a .no-transform {
  color: #404040;
}
.no-transform {
  text-transform: none !important;
}
h4 {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.24s ease-in-out;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  margin: 15px 0;
  text-transform: uppercase;
  font-weight: 700;
  clear: both;
  line-height: 1.1;
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.fs_blog h6.muted {
  margin: 20px 0px;
}
.muted,
.muted a {
  color: #8d8d8d;
}
.fs_blog p {
  line-height: 28px;
}
p {
  font-size: 15px;
  margin: 10px 0;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: #404040;
}
.btn {
  text-transform: uppercase;
  display: inline-block;
  padding: 6px 12px;
  border: 2px solid transparent;
  border-radius: 1px;
  border-color: black;
  transition: all 0.3s ease;
  margin-bottom: 0;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  user-select: none;
}
.pull-right {
  float: right !important;
}
.btn-default {
  font-size: 14px;
  font-weight: 700;
}
.btn-default:hover {
  color: #57b22f;
  border-color: #57b22f;
  background: transparent;
}
.btn:active,
.btn.active {
  outline: 0;
}
.btn:hover {
  text-decoration: none;
}
