.module4-title {
  letter-spacing: 4px;
  margin: 15px 0;
}
.module4-title >h4 {
  opacity: 1;
  visibility: visible;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.module4-content {
  font-size: 15px;
  line-height: 25px;
  margin: 10px 0;
  color: #404040;
}
.module4-signature {
  float: right;
}
.module4-signature > h5 {
  color: #8d8d8d;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  margin: 15px 0;
  text-transform: uppercase;
  font-weight: 700;
}
