.invo_blog_centre {
  text-align: center;
}
.main-blog {
  margin-top: 8px;
}
body {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  background-color: #fff;
  padding-top: 126px;
  font-weight: 400;
}
.main-blog .blog-post {
  margin: 0;
  margin-bottom: 40px;
}
.fs_blog {
  width: 100%;
  float: left;
}
.fs_blog h6.accent {
  margin-bottom: 20px;
}
.accent,
.accent a {
  color: #ffc925;
  letter-spacing: 2px;
  text-decoration: none;
}
.accent {
  color: #57b22f !important;
}
.accent,
.accent a {
  color: #ffc925;
  letter-spacing: 2px;
  text-decoration: none;
}
a .no-transform {
  color: #404040;
  text-decoration: none;
}
h4 {
  font-size: 18px;
}
.fs_blog h6.muted {
  margin: 20px 0px;
}
.muted,
.muted a {
  color: #8d8d8d;
  text-decoration: none;
}
.fis {
  color: #337ab7;
  text-decoration: none;
}
h6 {
  font-size: 12px;
}
.fs_blog p {
  line-height: 28px;
}
.fs_blog p {
  line-height: 28px;
}
p {
  font-size: 15px;
  line-height: 25px;
  margin: 10px 0;
}
.fs_blog p {
  line-height: 28px;
}
p {
  font-size: 15px;
  line-height: 25px;
  margin: 10px 0;
}
p {
  margin-bottom: 1.5em;
  margin: 0 0 10px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.invo_blog_centre {
  text-align: center;
}
.invo_blog_centre .btn-default {
  display: inline-block;
  float: none !important;
  margin-top: 20px;
}
.btn-default {
  border-color: #262626;
  color: #262626;
  background: transparent;
  font-size: 14px;
  font-weight: 700;
}
.btn {
  border-color: #262626;
  color: #262626;
  text-transform: uppercase;
  padding: 6px 12px;
  border: 2px solid;
  border-radius: 0;
  transition: all 0.3s ease;
}
.btn i.fa {
  margin: 0 8px;
  margin-left: 0;
}
