.wpb_wrapper {
  background: #57b22f;
}
.vc_column_container {
  padding-left: 0;
  padding-right: 0;
}
body {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  background-color: #fff;
  padding-top: 126px;
  font-weight: 400;
}
.vc_row.vc_row-no-padding .vc_column-inner {
  padding-left: 0;
  padding-right: 0;
}
.yellow-bg {
  background: #57b22f;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.white {
  color: white;
}
.row {
  margin: 0px -15px;
}
.facts.white .fact:not(:last-child) {
  border-right: 1px solid #57b22f;
}
.text-center {
  text-align: center;
}
.fact h1 {
  font-size: 50px;
}
hr {
  height: 2px;
  width: 35px;
  border: none;
  text-align: center;
  background: #57b22f;
  display: inline-block;
  margin: 5px auto;
}
h5 {
  font-size: 16px;
}
.vc_col-sm-12 {
  width: 100%;
}
.facts.white .fact:not(:last-child) {
  border-right: 1px solid #57b22f;
}
