footer .partner-icon {
  padding: 55x 0;
}
footer .partner-icon h3.partner {
  font-size: 16px;
  line-height: 36px;
  font-weight: 700;
  color: #cc2121;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-bottom: 2px solid #E0E0E0;
  width: 150px;
}
footer .partner-icon .logo img {
  height: 100px;
  opacity: 0.5;
}
footer .partner-icon .p {
  text-align: center;
}
footer .ser {
  background: black;
  padding: 6px;
  margin: 20px 0;
}
footer .ser .planee {
  text-align: center;
}
footer .ser .planee .plane {
  display: inline-flex;
}
footer .ser .planee .plane .picplane {
  margin: 15px;
}
footer .ser .planee h3 {
  font-family: "Josefin Sans", Helvetica, Arial, sans-serif;
  font-size: 10px;
  line-height: 30px;
  font-weight: 400;
  color: #ffffff;
  font-style: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}
footer .folow .clo-3 {
  margin-top: 38px;
}
footer .folow .clo-3 .button-ser {
  margin-top: 24px;
}
footer .folow .clo-3 .button-ser button.sub {
  margin-top: 2px;
  color: #757575;
  padding: 0 25px;
}
footer .folow .clo-3 .button-ser button.sub:hover {
  color: #fff;
}
footer .folow .kallyas {
  margin-top: 38px;
}
footer .folow .kallyas i.fa {
  padding-right: 20px;
  font-size: 22px;
  margin-top: 22px;
  padding-left: 10px;
}
footer .folow .mail {
  background: #222;
  border-color: #373737;
  text-transform: uppercase;
  font-family: "Josefin Sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 11px;
  height: 44px;
  border-radius: 5px;
  color: white;
}
footer .folow .sub {
  background: #222;
  border-color: #373737;
  text-transform: uppercase;
  font-family: "Josefin Sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 11px;
  height: 44px;
  border-radius: 5px;
  color: white;
}
footer .slogan center {
  margin-top: 68px;
  color: #454545;
  font-size: 13px;
}
.white {
  color: black;
}
.wpb_wrapper {
  background: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  font-weight: 400;
}
.form-control {
  width: 100%;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.42857143;
  color: #DEDEDE;
  background-color: transparent;
  background-image: none;
  border: 1px solid #919191;
  text-transform: no-transform;
  border-radius: 0;
  margin: 30px 0;
  box-shadow: none;
}
.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.button1 {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
  margin-left: 500px;
}
.button1:hover {
  background-color: #4CAF50;
  color: white;
}
.btn-default {
  border-color: #262626;
  color: #262626;
  background: transparent;
  font-size: 14px;
  font-weight: 700;
}
.btn {
  text-transform: uppercase;
  display: inline-block;
  padding: 6px 12px;
  border: 2px solid transparent;
  border-radius: 0;
  transition: all 0.3s ease;
}
.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn-default:hover {
  color: #49dc40;
  background-color: #fff;
  border-color: #49dc40;
}
hr {
  height: 5px;
  width: 35px;
  border: none;
  text-align: center;
  margin: 5px auto;
}
.fs_blog h6.accent {
  margin-bottom: 20px;
}
.accent,
.accent a {
  color: #ffc925;
  letter-spacing: 2px;
}
.content {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  color: #404040;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  font-weight: 400;
  visibility: visible;
  box-sizing: inherit;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
  width: 66.66666667%;
  margin-left: 16.66666667%;
  margin-top: 8px;
  text-align: center;
}
.muted a:hover {
  color: #404040;
}
.muted,
.muted a {
  color: #8d8d8d;
}
a:hover,
a:focus {
  color: #23527c;
  text-decoration: none;
}
